<div class="card border-info mb-2 mx-2 ">

        <div class="card-header d-flex justify-content-between py-1">
            <h4>{{title}} </h4>

    <div class="delete-button" data-id="{{id}}"> <button class="btn btn-sm btn-danger " data-id="{{id}}">DELETE</button>
    </div>
</div>
<div class="card-body">
    <h4 class="card-title">Info card title</h4>
    <p class="card-text"> {{content}} </p>
            <form id="addComment" class="form ">
                    <input type="hidden" name="post-id" value="{{id}}" />
                <div class="form-group">
                    <label for="post-comment">Comment</label>
                    <textarea class="form-input form-control" placeholder="Enter post comment" id="post-comment"
                        name="post-comment"></textarea>
                </div>
                <div class="text-center">
                    <button id="btn-submit" type="submit" class="btn btn-info">Submit</button>
                </div>
            </form>
</div>
</div>

    <script src="/js/comment.js"></script>
            <script src="/js/profile.js"></script>